* {
    padding: 0px;
    margin: 0px;
}

header, nav, aside, article, section, footer, main, button {
    display: block;
}

button {
    border: none;
}

.clear {
    clear: both;
}

.needFont, .sidenav {
    font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 480px) {

    .text-center {
        position: relative;
        top: 100px;
    }

    #submitButton {
        width: 200px;
        position: relative;
        left: 130px;
    }

    #wrapper {
        width: 100%;
        margin: 0px auto;
    }

    header {
        height: 101px;
    }

    .header {
        background-repeat: no-repeat;
        display: block;
        position: relative;
        top: 34px;
    }

    #menuContainer {
        float: left;
        left: 13px;
        display: inline-block;
        cursor: pointer;
    }

    .menuButton {
        width: 35px;
        height: 5px;
        background-color: #000000;
        margin: 6px 0;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #000000;
        margin: 6px 0;
        transition: 0.4s;
    }

    #backArrow {
        float: left;
        position: relative;
        top: 38px;
        left: 13px;
        cursor: pointer;
        width: 35px;
        height: 35px;
        background-image: url(../images/left-arrow.png);
        background-repeat: no-repeat;
        display: none;
    }

    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 101px; /* Stay at the top */
        left: 0;
        background-color: #ffffff; /* White*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    #menuH1 {
        position: relative;
        left: 13px;
        font-size: 30px;
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 23px;
        text-align: center;
        color: #8c8c8c;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }

    #nightModeButton {
        background-image: url(../images/night_mode.png);
        width: 30px;
        height: 30px;
        float: left;
        top: 39px;
        left: 29px;
        cursor: pointer;
    }

    #nightModeButton:hover, #menuContainer:hover {
        opacity: 0.75;
    }

    #logo {
        background-image: url(../images/Logo.png);
        height: 70px;
        width: 135px;
        float: left;
        left: 118px;
    }

    #userImage {
        background-image: url(../images/Raheli.png);
        height: 40px;
        width: 40px;
        float: right;
        right: 16px;
    }

    #userName {
        color: #8c8c8c;
        font-size: 13px;
        position: absolute;
        top: 78px;
        right: 19px;
    }

    #helloMessage {
        color: #8c8c8c;
        position: relative;
        top: 85px;
        left: 95px;
    }

    .plusButtonsBox {
        height: 124px;
        width: 224px;
        float: left;
        position: relative;
        top: 118px;
        left: 13px;
        border: black solid;
        border-color: #cccccc;
        border-width: 1px;
        border-radius: 10px;
    }

    .rightBoxes {
        border-right: none;
    }

    .leftBoxes {
        border-left: none;
    }

    .plusButton {
        border-radius: 100%;
        height: 60px;
        width: 60px;
        font-size: 40px;
        position: relative;
        top: 32px;
        left: 82px;
    }
    .disable {
        background-color: green;
        color: #ffffff;
        opacity: 0.5;
    }

}
